<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %-40c{1.} - %msm%n" />
        </Console>
        <File name="fileInfo" filename="./log/info.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level - %msm%n" />
            <Filters>
                <MarkerFilter marker="INFO"/>
            </Filters>
        </File>
        <File name="fileError" filename="./log/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level - %msm%n" />
            <Filters>
                <MarkerFilter marker="ERROR"/>
            </Filters>
        </File>
</Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileError"/>
            <AppenderRef ref="fileInfo"/>
        </Root>
    </Loggers>
</Configuration>